  <style>
    h1 {
        color: blue;
    }
    hr {
        background-color: #ddd;
    }
    .jumbotron {
        min-height: 100vh;
    }
</style>

    <h1 class="container mt-3">Ingrese Producto</h1>

    <form action="/api/productos/guardar" method="POST">

      <div class="jumbotron">
          <strong>Nombre</strong>
          <input type="title" class="form-control" id="title" name="title">

          <strong>Precio</strong>
          <input type="text" class="form-control" id="price" name="price">
  
          <strong>Foto URL</strong>
          <input type="text" class="form-control" id="thumbnail" name="thumbnail">
          <br>
      <button class="btn btn-success">Enviar</button>
      </div>
    </form>

